---
layout : tataletak.njk
---

<html>
<head>
  <title>Profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/asset/tataletak.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="header">
    <h1> SELAMAT DATANG </h1>
    <p>Semoga harimu dipenuhi oleh kebahagiaan</p>
  </div>

  <!-- Footer -->
  <div class="footer">
    <h2>Footer</h2>
  </div>

</body>
</html>
