<html lang="en">
<head>
	 <link href="/asset/tataletak.css" rel="stylesheet" type="text/css">
	 <link href="/asset/galery.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- <style>
</style> -->
	{% include "navigasi.njk" %}
	<section>
		{{content | safe}}
	</section>
</body>
</html>
