---
layout : tataletak.njk
nama : Muhammad Syafii Ramadhan
---

<body>
	<div class="row">
		<div class="side">
		<div class="img">
				<img src="/asset/Mawar-Hitam.png.jpg" >
				<div class="desc">Mawar Hitam</div>
			</div>
			<div class="img">
				<img src="/asset/Mawar-Hitam.png.jpg" >
				<div class="desc">Mawar Hitam</div>
			</div>
			<div class="img">
				<img src="/asset/Mawar-Hitam.png.jpg" >
				<div class="desc">Mawar Hitam</div>
			</div>
			<div class="img">
				<img src="/asset/Mawar-Hitam.png.jpg" >
				<div class="desc">Mawar Hitam</div>
			</div>
			<div class="img">
				<img src="/asset/Mawar-Hitam.png.jpg" >
				<div class="desc">Mawar Hitam</div>
			</div>
			<div class="img">
				<img src="/asset/Mawar-Hitam.png.jpg" >
				<div class="desc">Mawar Hitam</div>
			</div>
			<div class="img">
				<img src="/asset/Mawar-Alba.png.jpg">
				<div class="desc">Mawar Alba</div>
			</div>
			<div class="img">
				<img src="/asset/Mawar-Bermuda-Mysterious.png" >
				<div class="desc">Mawar Bermuda Mysterious</div>
			</div>
			<div class="img">
				<img src="/asset/Mawar-Centifolia-Rose.png"">
				<div class="desc">Mawar Centefolia</div>
			</div>
			<div class="img">
				<img src="/asset/Mawar-Centifolia-Rose.png"">
				<div class="desc">Mawar Centefolia</div>
			</div>
		</div>
	</div>
	<div class="footer">
	<h2>Footer</h2>
	</div>

</body>
