---
layout : tataletak.njk
nama : Muhammad Syafii Ramadhan
---

<body>
	<div class="row">
	<div class="side">
	<h2 > {{nama}} </h2>
	<div class="flex-container">
		<div class="brder"></div>
	</div>
	<h3>Keterangan</h3>
		<div class="fakeimg" style="height:60px;">Nim     : 14116015</div><br>
		<div class="fakeimg" style="height:60px;">Umur    : 21</div><br>
		<div class="fakeimg" style="height:60px;">Alamat  : Jl.Hasan IV</div>
	</div>
	</div>

	<!-- Footer -->
	<div class="footer">
	<h2>Footer</h2>
	</div>

</body>

